name: Build DLL

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Build Solution
      run: msbuild StellaSora-Tool.sln /p:Configuration=Release /p:Platform=x64

    - name: Find and Copy DLL (自动搜寻)
      shell: cmd
      run: |
        echo "正在搜索所有生成的 DLL..."
        dir /s /b *.dll
        
        echo "正在把找到的 DLL 复制到最外层..."
        for /r %%i in (*.dll) do copy "%%i" .

    - name: Upload Artifact (上传)
      uses: actions/upload-artifact@v4
      with:
        name: StellaSora-Cheat
        # 只要是 DLL 即使是中间文件也全部打包，确保绝不漏掉
        path: "*.dll"
